{%  extends 'accounts/main.html' %}

{% block content %}

	<br>

<div class="row">
	
<div class="col">
		<div class="col-md">
			<div class="card text-center text-white my-5" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Contact Information</h5>
			  	</div>
			  	<div class="card-body">
			  		<p>Email: {{supplier.email}}</p>
			  		<p>Phone: {{supplier.phone}}</p>
			  	</div>
			</div>
		</div>
	</div>
	
<div class="col">
		<div class="col-md">
			<div class="card text-center text-white my-5" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Orders</h5>
			  	</div>
			  	<div class="card-body">
			  		<h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
			  		
			  	</div>
			</div>
		</div>
	</div>

</div>




<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>
<br>





<br>
<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Category</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for order in orders %}

				<tr>
					<td>{{order.product}}</td>
					<td>{{order.product.category}}</td>
					<td>{{order.date_created}}</td>
					<td>{{order.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}