h1{
    text-align: center;
    font-weight:bold;
}



.header1{
    text-align: left;
    left: 50;
    text-indent: 50;
    top: 130px;
    font-style:normal;
    
    
 
}
.header2{

    text-align: center;
    position:absolute;
    left: 600;
    top: 130px;

}
.header3{

    text-align: right;
    position:absolute;
    right: 110;
    top: 130px;
  
    
}
