{% extends 'emp/main.html' %} {% load static %} {% block content %} &nbsp &nbsp
&nbsp

<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <center>
        <form method="POST">
          {% csrf_token %}
          <div class="card-body">
            <h5 class="card-title">Delete!!!</h5>
            <p class="card-text">Are you sure want to delete "{{i.ename}}"?</p>
            <a href="{% url 'viewEmployee' %}" class="btn btn-secondary"
              >Cancel</a
            >
            <input class="btn btn-warning" type="submit" name="Confirm" />
          </div>
        </form>
      </center>
    </div>
  </div>
</div>

{% endblock %}
